@charset "UTF-8";
/* CSS Document */

body {
  color:            #000000;
  font-family:      Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        12pt;
  background-color: #FFFFFF;
  text-align: center;
}

.navigation {
  display: none;
}
  
#wrapper {
  margin: 0 auto;
  padding: 0;
  text-align: left;	
  width: 320px;
}

p {
  color:            #000000;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        12pt;
  background-color: #FFFFFF;
}

a:link {
  color:       #0033CC;
  font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}
a:visited {
  color:       #660066;
  font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

h3 { 
  color:       #06348B;
  font-weight: bold;
  font-size:   16pt;
}