Body {
  color:            #000000;
  font-family:      arial, helvetica, verdana, geneva, tahoma, sans-serif;
  font-size:        8pt;
  background-color: #ffffff;
  text-align: center;
}

#wrapper {
  margin: 0 auto;
  padding: 0;
  width: 500px;
  text-align: justify;	
}

#wrapperadmin {
  margin: 0;
  width: 100%;
  text-align: justify;	
} 

#edit-area {
/* float: left;*/
  width: 100%;
}

#scroll-area {
  /*float: left;*/
  width: 100%;
/*  margin: 0 2em 0 420px; */
}

.list_pages {
 margin: 10px 0;
 font-size:        10pt;
}
.toptext {
 margin: 5px 0;
 font-size:        13pt;
}
p {
  color:            #000000;
  font-family:      arial, helvetica, verdana, geneva, tahoma, sans-serif;
  font-size:        10pt;
  background-color: #ffffff;
}

td {
  color:            #000000;
  font-family:      arial, helvetica, verdana, geneva, tahoma, sans-serif;
  font-size:        10pt;
  background-color: #ffffff;
}
a:link {
  color:       #0033cc;
  font-family: arial, helvetica, verdana, geneva, tahoma, sans-serif;
  text-decoration: none;
}
a:visited {
  color:       #0033cc;
  font-family: arial, helvetica, verdana, geneva, tahoma, sans-serif;
  text-decoration: none;
}

/* webserver */

h3 { 
  color:       #06348b;
  font-weight: bold;
  font-size:   8pt;
}
h4 { 
  color:       #06348b;
  font-weight: bold;
  font-size:   8pt;
}
